.aboutPage {
    background-color: steelblue;
    padding: 20px;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.aboutText {
    font-family: 'Rockwell', Courier, monospace;
    color: aliceblue;
    align-items: center;
    padding: 100px;
}

.pro {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}