.header {
    background-image: url('../assets/images/banner.webp');
    width: auto;
    height: auto;
}

h1 {
    font-family: 'Rockwell', Courier, monospace;
    color: aliceblue;
    padding: 10px;
    height: 100px;
}